.forecast-page {
  width: 100%;
  align-content: center;
}

.forecast-page h2 {
  text-align: center;
    font-weight: 900;
    font-family: Harrington;
}

.embla {
  margin-top: 16px;
}

.embla__viewport {
  align-content: center;
  height: auto;
  min-height: 70vh;
  overflow-x: hidden;
  overflow-y: visible;
}

.embla__container {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
}


.embla__slide {
  position: relative;
}

.embla__slide.is-active {
  flex: 0 0 30%; 
  z-index: 10;
}

.embla__slide.is-active .forecast-card {
  transition:  0.5s ease ;
  transform: translate( 0, 0) scale(1.24);
  background: #9fabb1;
  border: 1px solid white;
}

.forecast-card {
  height: 100%;
  padding: 14px;
  border-radius: 18px;
  background: #b9c4ca;
  color: black;
  cursor: pointer;
  transition: transform 0.35s ease, opacity 0.35s ease, background 0.35s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 600px) {
  .embla__slide {
    flex: 0 0 10%;
  }
}

@media (min-width: 1024px) {
  .embla__slide {
    width: 10px;
    flex: 0 0 20%;
  }
}

.day {
  font-weight: 600;
  text-align: center;
  margin-bottom: 8px;
}

.temp {
  text-align: center;
  display: block;
}

.details {
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center;
  gap: 10px;
  text-align: center;
}

.details p{
  border: 1px solid white;
  border-radius: 10px;
  padding: .5rem;
  font-size: small;
}

.embla__slide.is-active .details {
  max-height: 250px;
  overflow-y: auto;
}


.embla__slide.is-active .details::-webkit-scrollbar {
  width: 6px;
}


.embla__slide.is-active .details::-webkit-scrollbar-track {
  background: transparent; 
}

.embla__slide.is-active .details::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2); /* Semi-transparent white */
  border-radius: 10px;
  transition: background 0.3s ease;
}

.embla__slide.is-active .details::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4);
}