.forecast-page {
  /* padding: 20px; */
  width: 100%;
  align-content: center;
}

.forecast-page h2 {
  text-align: center;
    font-weight: 900;
    font-family: Harrington;
}

.embla {
  margin-top: 16px;
}

.embla__viewport {
  align-content: center;
  height: auto;
  min-height: 50vh;
  overflow-x: hidden;
  overflow-y: visible;
}

.embla__container {
  display: flex;
  gap: 1rem;
  padding: 0 1rem;
}


.embla__slide {
  flex: 0 0 20%;
  transition: flex 0s ease, transform 0.35s ease;
  position: relative;
}

.embla__slide.is-active {
  flex: 0 0 50%; 
  z-index: 10;
}

.embla__slide.is-active .forecast-card {
  /* transform: translate(0%, 0) scale(2); */
  transform: scale(1.05);
  background: #9fabb1;
  border: 1px solid white;
  min-height: 380px;
}

.forecast-card {
  height: 100%;
  padding: 14px;
  border-radius: 14px;
  background: #b9c4ca;
  color: black;
  cursor: pointer;
  transition: transform 0.35s ease, opacity 0.35s ease, background 0.35s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 30vh;
  transition:
    transform 0.35s ease,
    background 0.35s ease,
    min-height 0.35s ease;
}

@media (min-width: 600px) {
  .embla__slide {
    flex: 0 0 50%;
  }
}

@media (min-width: 1024px) {
  .embla__slide {
    width: 10px;
    flex: 0 0 20%;
  }
}



.day {
  font-weight: 600;
  text-align: center;
  margin-bottom: 8px;
}

.temp {
  text-align: center;
  display: block;
}

.details {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.35s ease, opacity 0.3s ease;
}

.embla__slide.is-active .details {
  max-height: 300px;
  opacity: 1;
}