.forecast-page {
  /* padding: 20px; */
  width: 100%;
  align-content: center;
}

.forecast-page h2 {
  text-align: center;
    font-weight: 900;
    font-family: Harrington;
}

.embla {
  /* position: relative; */
  margin-top: 16px;
}

.embla__viewport {
  align-content: center;
  height: 50vh;
  overflow: hidden;
}

.embla__container {
  display: flex;
  gap: 1rem;
  padding: 0 1rem;
}


.embla__slide {
  position: relative;
}

.embla__slide.is-active {
  z-index: 10;
}

.embla__slide.is-active .forecast-card {
  transform: translate(0%, 0) scale(1.7);
  border: 1px solid white;
}

@media (min-width: 600px) {
  .embla__slide {
    flex: 0 0 50%;
  }
}

@media (min-width: 1024px) {
  .embla__slide {
    width: 10px;
    flex: 0 0 20%;
  }
}

.forecast-card {
  height: 100%;
  padding: 14px;
  border-radius: 14px;
  background: #b9c4ca;
  color: black;
  cursor: pointer;
  transition: transform 0.35s ease, opacity 0.35s ease, background 0.35s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.day {
  font-weight: 600;
  text-align: center;
  margin-bottom: 8px;
}

.temp {
  text-align: center;
  display: block;
}

.details {
  /* margin-top: 6px; */
  /* font-size: 0.85rem; */
  text-align: center;
}