.Weather_header {
    width: 50rem;
    border: 2px solid #a9b3b8;
    border-radius: 15px;
    margin: 1rem;
    
}

.homeheader {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
    padding: 20px 40px;
    flex-wrap: wrap;
    align-items: center;
    background-color: #a9b3b8;
    color: #f8fdff;
    border-radius:  13px 13px 0 0 ;
    margin-bottom: 30px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    gap: 2rem;
    padding: 10px;
    flex-wrap: wrap;
}

.TempReading {
    padding-left: 0.7in;
}